body 
{
    background-color: black;
    color: black;
    /*font-family: "SF Text", sans-serif;*/
    /*cursor: none; */
}

.weather-content #locationText {
    border-bottom: 1px solid white;
}

.weather-content #weatherDescription {
    margin-left: 5px; 
}

.weather-content #weatherIcon {
    /* margin-bottom: 30px; */
    /*float: left;*/
}

.weather-content #temperatureText {
    color: white;
    font-size: 100px;
    margin-left: 20px;
    line-height: 170px;
    float: left;
}

.weather-content #humidityText
{
    margin-left: 20px;
    color: white;
    display: block;
}

.weather-content #humidityIcon
{
    display: block;
    float: left;
}

.bottom-align
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
}

.details-content 
{
    margin-left: 30px;
    width: 450px;
    overflow: hidden;
}

.details-content #windIcon 
{
    clear: both;
    float: left;
}

.details-content #windText
{
    margin-left: 5px;
    color: white;
    float: left;
}

.details-content #sunriseIcon
{
    float: left;
    margin-left: 20px;
}

.details-content #sunriseText
{
    margin-left: 5px;
    color: white;
    float: left;
}

.details-content #sunsetIcon
{
    float: left;
    margin-left: 20px;
}

.details-content #sunsetText
{
    margin-left: 5px;
    color: white;
    float: left;
}

.details-content #humidityIcon
{
    float: left;
    margin-left: 20px;
}

.details-content #humidityText
{
    margin-left: 5px;
    color: white;
    float: left;
}

#dateText
{
    margin-top: 50px;
    text-align: right;
    color: white;
    font-size: 30px;
    border-bottom: 1px solid white;
}

#timeText 
{
    color: white;
    font-size: 60px;
    text-align: right;
    margin-top: 15px;
}

#superscript 
{ 
    position: relative; 
    font-size: 40%;
    width: 30px;
    top: 0.4em; 
    color: gray;
    float: right;
    font-family: "Arial", sans-serif;
}

.forecast-content #title
{
    margin-top: 30px;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid white;
}